@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    Cormorant Garamond,
    Arial,
    Helvetica,
    sans-serif;
}

.card-borda-invertida {
  background-color: #3498db; /* Cor de fundo do seu elemento */
  --raio: 30px; /* Tamanho da curva invertida */

  -webkit-mask:
    radial-gradient(circle at top left, transparent var(--raio), #fff 0) top
      left,
    radial-gradient(circle at top right, transparent var(--raio), #fff 0) top
      right,
    radial-gradient(circle at bottom left, transparent var(--raio), #fff 0)
      bottom left,
    radial-gradient(circle at bottom right, transparent var(--raio), #fff 0)
      bottom right;
  -webkit-mask-size: 51% 51%;
  -webkit-mask-repeat: no-repeat;
}
