@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    Cormorant Garamond,
    Arial,
    Helvetica,
    sans-serif;
}

.card-borda-invertida {
  background-color: #3498db; /* Cor de fundo do seu elemento */
  --raio: 30px; /* Tamanho da curva invertida */

  -webkit-mask:
    radial-gradient(circle at top left, transparent var(--raio), #fff 0) top
      left,
    radial-gradient(circle at top right, transparent var(--raio), #fff 0) top
      right,
    radial-gradient(circle at bottom left, transparent var(--raio), #fff 0)
      bottom left,
    radial-gradient(circle at bottom right, transparent var(--raio), #fff 0)
      bottom right;
  -webkit-mask-size: 51% 51%;
  -webkit-mask-repeat: no-repeat;
}

.clero-section::after {
  content: "";
  position: absolute;
  right: -40px;
  top: -10px;
  width: 1243px;
  height: 828px;

  background-image: url("/inicio/lady-of-fatima.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  opacity: 0.4;
  pointer-events: none;
}

@media (max-width: 1300px) {
  .clero-section::after {
    right: -10%;
  }
}

@media (max-width: 700px) {
  .clero-section::after {
    right: -20%;
    width: 1000px;
    height: 600px;
  }

  .clero-section::before {
    content: "";
    position: absolute;
    left: -10%;
    bottom: 0;
    width: 500px;
    height: 500px;

    background-image: url("/inicio/lirio-left.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    opacity: 0.4;
    pointer-events: none;
  }
}

@media (max-width: 500px) {
  .clero-section::after {
    display: none;
  }

  .clero-section::before {
    display: none;
  }
}

.footer-section::before {
  content: "";
  position: absolute;
  left: -250px;
  bottom: -80px;
  width: 600px;
  height: 600px;

  background-image: url("/inicio/lirio-dark-right.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  opacity: 0.3;
  pointer-events: none;
}

.footer-section::after {
  content: "";
  position: absolute;
  right: -250px;
  bottom: -80px;
  width: 600px;
  height: 600px;

  background-image: url("/inicio/lirio-dark-left.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  opacity: 0.3;
  pointer-events: none;
}

@media (max-width: 1200px) {
  .footer-section::before {
    opacity: 0.2;
  }

  .footer-section::after {
    opacity: 0.2;
  }
}

@media (max-width: 770px) {
  .footer-section::before {
    display: none;
  }

  .footer-section::after {
    right: -100px;
    width: 400px;
    height: 400px;
  }
}

.communities-section {
  position: relative;
  overflow: hidden;
}

.communities-section::after {
  content: "";
  position: absolute;
  width: 1024px;
  height: 680px;

  background-image: url("/inicio/san-joseph.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  opacity: 0.4;
  pointer-events: none;
  z-index: -1;
}

@media (min-width: 1024px) {
  .communities-section::after {
    right: -20px;
    top: 0px;
  }
}

@media (max-width: 1024px) {
  .communities-section::after {
    right: -20px;
    bottom: -20px;
  }
}

@media (max-width: 700px) {
  .communities-section::after {
    top: 250px;
    right: -20%;
    width: 1000px;
    height: 600px;
  }

  .communities-section::before {
    content: "";
    position: absolute;
    left: -10%;
    bottom: 0;
    width: 500px;
    height: 500px;

    background-image: url("/inicio/lirio-left.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    opacity: 0.4;
    pointer-events: none;
  }
}

@media (max-width: 500px) {
  .communities-section::after {
    display: none;
  }
}
